<div class="col-md-6">
    <h2 style="color:#5bc0de">New Profile</h2>

    <%= render 'form', profile: @profile %>

    <%= link_to 'Back', profiles_path, class: 'btn btn-outline-info btn-sm'%>
</div>